/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
   @font-face {
    font-family: 'Eurostile';
    src: url('../fonts/Eurostile-Reg.woff2') format('woff2'),
        url('../fonts/Eurostile-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
   @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans");

/* ==========================================================================
2. GENERAL
========================================================================== */
body {
  font-family: 'Eurostile', Helvetica, sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: transparent !important;
}
a{
  color: #ff8300;
}
a:hover{
  color: #000;
  text-decoration: none;
}
.bg-white{
  background: #fff;
}
.bg-black{
  background: #000;
}   
.bg-orange{
  background: #ff8300;
}

/* ==========================================================================
2.1 Search Tab Style
========================================================================== */
.custom-tabs {
  border-bottom-width: 3px;
  border-bottom-color: #f5f5f5;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.custom-tabs .nav-link {
  margin: 0 0.25rem;
  border-radius: 0;
  color: #7b7b7b;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  font-weight: 700;
}
.custom-tabs .nav-link.active {
  border: 0;
  margin-bottom: -3px;
  border-bottom: 3px solid #ff8300;
  background: none;
  color: #142b35;
  font-weight: 700;
}
.form-control, .form-select {
  font-size: 1rem;
  line-height: 2;
  border-radius: 0;
}
.btn {
  font-weight: 700;
  line-height: 2;
  font-size: 1rem;
  border-radius: 0;
  text-transform: uppercase;
}
.btn-primary {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}
.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-outline-primary{
  color: #666;
  border-color: #ff8300;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff8300;
  border-color: #ff8300;
}

.product-catalog-section h4 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dedede;
}
.card{
  border-radius: 0 !important;
}
.card-title{
  margin-bottom: 0;
}
.card-title a{
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
  background: var(--bs-black);
}
.card-title a:hover{
  color: #ff8300;
  text-decoration: none;
}
/* ==========================================================================
2.2 Footer
========================================================================== */
footer{
  width: 100%;
  background-color: #000;
}

      